<template>
  <div class="editor" ref="cnt" :class="{ read: options.readOnly || false }">
    <textarea ref="txt" :id="id" :name="`editor-${id}`" :placeholder="placeholder"
              aria-label="Patrium Editor"></textarea>
  </div>
</template>

<script>
import CodeMirror from 'codemirror';
import './modes/plain.mode';
import './modes/patrium.mode';
import { isEmpty } from '@/utils';

export default {
  name: 'editor',
  props: {
    value: String,
    id: {
      type: String,
      required: true
    },
    mode: {
      type: String,
      default: 'patrium'
    },
    placeholder: {
      type: String,
      default: ''
    },
    options: {
      type: Object,
      default: () => ({})
    },
    bind: {
      type: Object,
      default: () => ({})
    }
  },
  watch: {
    options: {
      deep: true,
      handler(options) {
        for (const key in options) {
          if (options.hasOwnProperty(key)) {
            this.instance.setOption(key, options[key]);
          }
        }
      }
    },
    value(newVal) {
      this.handleValueChange(newVal);
    }
  },
  data() {
    return {
      content: '',
      editor: null,
      instance: null,
      defaultOpts: {
        mode: 'patrium',
        autofocus: true,
        lineNumbers: false,
        lineWrapping: true,
        scrollbarStyle: 'null'
      }
    };
  },
  mounted() {
    this.initialize();
  },
  methods: {
    initialize() {
      if (this.oneLine) this.options.lineWrapping = false;
      this.instance = CodeMirror.fromTextArea(this.$refs.txt, Object.assign(this.defaultOpts, { mode: this.mode, ...this.options }));
      this.instance.setValue(this.value || this.content);
      this.instance.on('beforeChange', this.beforeChange);
      this.instance.on('change', (cm) => {
        this.content = cm.getValue();
        this.$emit('input', this.content);
      });

      // Autocomplete
      this.instance.setOption('envAutocomplete', {});

      // Notify parents / listeners
      // this.$emit('ready', this.editor);

      if (!isEmpty(this.bind)) {
        this.instance.enablePatriumOverlay({ data: this.bind });
      }

      // prevents funky dynamic rendering
      this.refresh();
    },
    refresh() {
      this.$nextTick(() => this.instance.refresh());
    },
    handleValueChange(newVal) {
      const cmValue = this.instance.getValue();
      if (newVal !== cmValue) {
        if (!newVal) {
          newVal = '';
        }
        const scrollInfo = this.instance.getScrollInfo();
        this.instance.setValue(newVal);
        this.content = newVal;
        this.instance.scrollTo(scrollInfo.left, scrollInfo.top);
      }
    },
    beforeChange(doc, change) {
      const value = this.instance.getDoc().getValue();
      if (value.trim() !== '') {
        // If we're in single-line mode, merge all changed lines into one
        if (this.oneLine && change.text && change.text.length > 1) {
          const text = change.text
              .join('') // join all changed lines into one
              .replace(/\n/g, ' '); // Convert all whitespace to spaces
          change.update(change.from, change.to, [text]);
        }
      }
    },
    destroy() {
      // garbage collect
      const element = this.instance.doc.cm.getWrapperElement();
      element && element.remove && element.remove();
    }
  },
  beforeDestroy() {
    this.destroy();
  }
};
</script>

<style src="codemirror/lib/codemirror.css"></style>
<style lang="scss">

.editor {
  //position: relative;
  border-radius: 0;
  min-height: 90px;
  height: 100%;
  padding: 10px 12px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 100%;
  --color-var: whitesmoke;

  textarea::placeholder {
    color: whitesmoke;
  }

  &.read {
    .CodeMirror {
      .CodeMirror-cursors {
        display: none;
      }
    }
  }

  .CodeMirror {
    font-family: inherit !important;
    height: unset;
    min-height: 70px;
    line-height: 2.2;
    cursor: text;
    font-size: .875rem;
    background: transparent;

    .CodeMirror-scroll {
      overflow: auto !important;
      background: transparent;
    }

    .CodeMirror-line, .CodeMirror-lines {
      margin-left: 0; // Undo CodeMirror-line left margin
      padding: 0;
    }

    .CodeMirror-sizer {
      border-right-width: 50px !important;
    }

    pre.CodeMirror-placeholder {
      color: #BFC1C3;
      padding: 1px 0 0;
    }
  }

  // Highlighting
  .cm-plain-var, .plain-var {
    color: #217CE8;
    font-weight: 600;
  }

  .cm-patrium-var, .patrium-var {
    color: #333333;

    &::after {
      background: white;
    }
  }

  // Rendered Tag
  .patrium-tag, [class^="cm-patrium-"] {
    font-family: inherit !important;
    padding: 0.4em 1em .42em;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0 0.1em;
    color: #333333;
    position: relative;
    font-size: 0.9em;
    line-height: 1em; // Need this for CodeMirror line-height math
    white-space: nowrap;
    text-shadow: 0 0 0.1em rgba(0, 0, 0, 0.4);

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      content: ' ';
      z-index: -1;
      border-radius: 1px;
      box-sizing: border-box;
      border: 1px solid rgba(0, 0, 0, 0.2);
      transition: background-color 300ms;

      // not so bright!
      opacity: 0.8;
      filter: grayscale(20%);
    }

    label {
      padding: 0;
      margin: 0;
      display: inline;
      font-style: italic;
      font-size: 0.9em;

      i.fa {
        font-family: FontAwesome, sans-serif !important;
        font-size: 0.9em;
        min-width: 1em;
        margin: 0 0.5em 0 0;
      }
    }

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }

    &[data-error='on'] {
      color: white;

      &::after {
        background: #D13636;
      }
    }

    &[data-ignore='on']::after {
      //background: var(--hl-xl);
      //color: var(--color-font);
    }

    &.patrium-text {
      font-size: .875rem;
      font-weight: 400;
      padding-right: 0;
      text-shadow: none;
      padding-left: 0;

      &:after {
        border: none;
      }
    }

    &.patrium-input {
      --h: 25px;

      font-family: inherit;
      font-weight: 500;
      display: inline-block;
      font-size: 1em;
      border: none !important;
      text-shadow: none;
      height: var(--h);
      position: relative;
      padding: .5em 0;
      margin: 0;

      &:after {
        border: none;
      }

      input {
        position: absolute;
        z-index: 1;
        font-family: inherit;
        font-size: inherit;
        height: var(--h);
        margin: 0;
        border-width: .4px;
        min-width: 100%;
        padding: 0 .4rem;
      }

      .overlay {
        position: relative;
        z-index: 3;
        display: flex;
        align-items: center;
        border: .4px solid rgba(0, 0, 0, 0.2);
        font-weight: 400;
        padding: 0 .4rem;
        color: gray;
        height: var(--h);
        background-color: white;
      }
    }

    &.hide {
      display: none;

      &:after {
        display: none;
      }

      &.patrium-input {
        input {
          display: none;
        }

        .overlay {
          display: none;
        }
      }
    }
  }
}

</style>
