<template>
  <div id="home_pg">
    <div class="content">
      <div id="render" ref="render">
        <h3>Interactive Render</h3>
        <editor ref="editor" id="core" v-model="text" :bind="results" :options="{ readOnly: true }"/>
        <div id="hints">
          <ul :style="hints.style">
            <template v-for="(group, ix) in hints.options">
              <li class="hint" v-for="(option, ixo) in group"
                  @click="selectOption(ix, ixo)" :class="{f: ix > 0 && ixo === 0}"
                  @mouseover="(ev) => Array.isArray(option) ? openSubOptions(ev, ix, ixo) : closeSubOptions()">
                <template v-if="Array.isArray(option)">
                  {{ option[0] }}
                </template>
                <template v-else>
                  {{ option }}
                </template>
              </li>
            </template>
          </ul>
          <ul :style="hints.subStyle" v-show="hints.subsActive" @mouseleave="closeSubOptions">
            <li class="hint" v-for="(subOpt, ix) in hints.subOptions" @click="selectSubOption(ix)">
              {{ subOpt }}
            </li>
          </ul>
        </div>
      </div>
      <div id="source">
        <h3>Source <span>[ editable ]</span></h3>
        <editor ref="editor" id="core" v-model="text" mode="plain"/>
        <div class="update form">
          <input type="text" placeholder="Password" v-model="auth.pass" aria-label="Password">
          <button :disabled="processing" @click="update">Update</button>
        </div>
      </div>
    </div>
    <div id="data">
      <h3>Data</h3>
      <div class="cnt">
        <div class="field" v-for="([key, value]) in Object.entries(results)">
          <span class="key">{{ key }} </span>
          <span class="value">{{ value }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Editor from '@/components/editor/index.vue';
import { extractCtx } from '@/components/editor/utils';
import { mapGetters } from 'vuex';

export default Vue.extend({
  name: 'Home',
  components: {Editor},
  computed: mapGetters({sourceText: 'text'}),
  data() {
    return {
      auth: {
        pass: ''
      },
      processing: false,
      text: '',
      hints: {
        active: false,
        options: [],
        activeSub: [0, 0],
        subsActive: false,
        subOptions: [],
        field: '',
        clicks: 0,
        style: {
          display: 'none',
          top: '0px',
          left: '0px'
        },
        subStyle: {
          top: '0px',
          left: '0px'
        }
      },
      results: {}
    };
  },
  watch: {
    sourceText(val, old) {
      if (val !== old) {
        this.text = val;
      }
    },
    'hints.active'(state) {
      if (state) {
        window.addEventListener('click', this.clickCheck);
      } else {
        this.closeSubOptions();
        window.removeEventListener('click', this.clickCheck);
      }
    }
  },
  created() {
    this.text = this.sourceText;
    this.$bus.$on('patrium-field', ({type, field, placeholder, options = [[]]}) => {
      const {results} = this;

      if (results[field]) {
        return;
      }

      switch (type) {
        case 'select':
          const ref = options[0][0];
          if (Array.isArray(ref)) {
            this.results[field] = ref[0];
          } else {
            this.results[field] = ref;
          }
          break;
        case 'input':
          this.results[field] = placeholder || '_';
      }
    });
  },
  mounted() {
    this.$bus.$on('patrium-click', (ev) => {
      const el = ev.target;
      const data = el.dataset;

      const isInput = el.tagName === 'INPUT';
      const isOverlay = el.classList.contains('overlay');
      const isInputTag = el.classList.contains('patrium-input');

      // Hijack and give some special behaviour
      if (isOverlay || isInput || isInputTag) {
        const parent = el.parentNode;
        const parentData = el.parentNode.dataset;

        let input;

        if (isOverlay) {
          // Hide the overlay and allow the user to input values
          el.style.display = 'none';

          input = parent.querySelector('input');
          input.focus();
          input.oninput = (inEv) => {
            this.results[parentData.field] = inEv.target.value;
          };

          input.onblur = () => {
            el.style.display = 'flex';
            this.$bus.$emit('ptm-update');
          };
        }

        return;
      }

      const bounds = el.getBoundingClientRect();
      const command = data.template.replace(/[{}]/g, '').trim();
      const ctx = extractCtx(command);

      if (data.type === 'select') {
        this.hints.options = ctx.options;
        this.hints.active = true;
        this.hints.field = ctx.field;

        const cntBounds = this.$refs.render.getBoundingClientRect();
        this.hints.style.display = 'block';
        this.hints.style.top = `${(bounds.top + bounds.height) - cntBounds.top}px`;
        this.hints.style.left = `${(bounds.left + bounds.width) - cntBounds.left}px`;
        // this.hints.style.width = `${bounds.width}px`;
      }
    });
  },
  methods: {
    clickCheck(ev: any) {
      if (this.hints.clicks === 0) {
        this.hints.clicks += 1;
        return;
      }

      this.hints.clicks = 0;
      const inFilter = ev.composedPath().some((x: HTMLElement) => x.id === 'editor');
      if (!inFilter) {
        this.hints.active = false;
        this.hints.options = [];
        this.hints.style.display = 'none';
      }
    },
    selectOption(groupIx: number, optionIx: number) {
      const option = this.hints.options[groupIx][optionIx];

      if (!Array.isArray(option)) {
        this.results[this.hints.field] = this.hints.options[groupIx][optionIx];
      } else {
        const [opt, list] = this.hints.options[groupIx][optionIx];
        this.results[this.hints.field] = opt;
        this.hints.subOptions = list;

        // open up a secondary list
        this.results[this.hints.field + `_${opt.replace(/ /g, '_')}`] = list[0];
      }

      this.$bus.$emit('ptm-update');
    },
    openSubOptions(ev, groupIx, optionIx) {
      const [_, list] = this.hints.options[groupIx][optionIx];
      this.hints.subOptions = list;
      this.hints.activeSub = [groupIx, optionIx];

      const bounds = ev.target.getBoundingClientRect();
      const cntBounds = this.$refs.render.getBoundingClientRect();

      this.hints.subsActive = true;
      this.hints.subStyle.top = `${bounds.top - cntBounds.top - 3}px`;
      this.hints.subStyle.left = `${(bounds.left + bounds.width) - cntBounds.left}px`;
    },
    closeSubOptions() {
      this.hints.subsActive = false;
      this.hints.activeSub = [0, 0];
    },
    selectSubOption(ix) {
      const [gIx, oIx] = this.hints.activeSub;
      const [opt, list] = this.hints.options[gIx][oIx];
      const field = this.hints.field;

      this.results[field] = opt;

      const childKey = field + `_${opt.replace(/ /g, '_')}`;
      this.results[childKey] = list[ix];

      this.$bus.$emit('ptm-update');
    },
    async update() {
      if (!this.processing) {
        this.processing = true;

        try {
          await this.$store.dispatch('update', {password: this.auth.pass, value: this.text});
        } catch (err) {
          console.error(err.message || err);
        } finally {
          this.processing = false;
        }
      }
    }
  }
});
</script>

<style src="../assets/styles/main.scss" lang="scss"></style>
<style lang="scss">
#home_pg {
  width: 90%;
  height: 90%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: grid;
  grid-column-gap: 18px;
  grid-template-columns:8fr 3fr;

  @media (max-width: 770px) {
    display: flex;
    flex-direction: column;
  }

  .content {
    display: grid;
    grid-row-gap: 18px;
    grid-template-rows: 1fr 1fr;

    @media (max-width: 770px) {
      display: flex;
      flex-direction: column;
    }
  }

  h3 span {
    font-size: .8rem;
    font-weight: 500;
  }

  #source .editor, #render .editor {
    padding: 2rem;
    height: 90%;

    @media (max-width: 770px) {
      height: auto;
    }
  }

  #source {
    .update {
      opacity: .5;
      padding: 2rem 0;
      display: flex;
      justify-content: flex-end;
      max-width: 300px;
      margin-left: auto;
      align-items: center;
      transition: opacity .3s ease;

      &:hover {
        opacity: 1;
      }

      input, button {
        height: 38px;
        display: flex;
        border-radius: 0;
        align-items: center;
      }

      input {
        border: 1px solid rgba(0, 0, 0, 0.4);
        padding: 0 .8rem;
      }

      button {
        justify-content: center;
        padding: 0 1rem;
        cursor: pointer;
        background-color: #217CE8;
        color: white;
        margin-left: 1rem;
        border: none;

        &:disabled {
          background-color: gray;
        }
      }
    }
  }

  #render {
    position: relative;
    height: auto;

    #hints, #sub-hints {
      ul {
        pointer-events: auto;
        position: absolute;
        overflow: hidden;
        list-style: none;
        border-radius: 0;
        background: white;
        font-size: 90%;
        overflow-y: auto;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        margin: 0.2em 0 0;
        //box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
        --w: 11rem;
        min-width: var(--w);
        max-width: calc(var(--w) * 1.5);
        max-height: 19rem;
        z-index: 999999;

        li.hint {
          position: relative;
          display: flex;
          align-items: center;
          width: 100%;
          font-size: .875rem;
          min-height: 34px;
          padding: 0.4rem .8rem !important;
          border-radius: 0;
          cursor: pointer;
          background: white;

          &.active {
            background-color: #217CE8;
            color: white;
          }

          &.f {
            border-top: 2px solid #D13636;
          }

          &:hover {
            background-color: rgba(33, 124, 232, .8);
            color: white;
          }
        }
      }
    }
  }

  #data {
    @media (max-width: 770px) {
      margin-top: 2rem;
    }

    .cnt {
      border: 1px solid rgba(0, 0, 0, 0.15);
      padding: 1.6rem 1.4rem;
      height: 95%;

      .field {
        font-size: 1rem;
        margin-bottom: .4rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 12px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding: .4rem 0 .6rem;

        .key {
          font-weight: 500;
          border-right: 1px solid rgba(0, 0, 0, 0.2);
        }

        .value {
          font-weight: 600;
        }
      }
    }
  }
}
</style>
