
// Cera

@font-face {
    font-family: "Cera Pro";
    font-weight: bold;
    font-display: auto;
    font-style: normal;
    src: url("/fonts/Cera/Bold.woff") format("woff");
}

@font-face {
    font-family: "Cera Pro";
    font-weight: 600;
    font-display: auto;
    font-style: normal;
    src: url("/fonts/Cera/Medium.woff") format("woff");
}

@font-face {
    font-family: "Cera Pro";
    font-weight: 500;
    font-display: auto;
    font-style: normal;
    src: url("/fonts/Cera/Regular.woff") format("woff");
}

@font-face {
    font-family: "Cera Pro";
    font-weight: 400;
    font-display: auto;
    font-style: normal;
    src: url("/fonts/Cera/Light.woff") format("woff");
}
